.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100vw;
  position: fixed;
  overflow-x: auto;
  height: 100vh;
  background-image: url("https://i.imgur.com/qIGtvPx.jpg");
}

::-webkit-scrollbar {
  width: 12px;
}
/* ::-webkit-scrollbar-track { */
/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
/* border-radius: 10px; */
/* } */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.DivBody {
  display: flex;

  background-color: rgb(255 255 255 / 40%);
  border-radius: 8px;
  flex-direction: column;
  /* -webkit-backdrop-filter: blur(20px); */
  backdrop-filter: blur(20px);
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 0px 50px -20px black;
  margin: 10px;
}
.DivHeader {
  width: 100%;
  height: 55px;
  /* background-color: red; */
  /* border-radius: 5px 5px 0px 0px; */
  display: flex;
  flex-direction: row;
  /* position: relative; */
  align-items: center;
  /* padding: 1% 1% 0 1%; */
  position: relative;
  justify-content: center;
}
.DivContent {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.DivContenido {
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: wheat; */
}
.DivFooter {
  width: 100%;
  height: 25px;
  font-size: 12px;
}
.FooterContent {
  position: fixed;
  border-radius: 50%;
  /* float: right; */
  bottom: 3px;
  right: 20px;
}
.CuadroImagen {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 20px;
  display: flex;
  background-color: rgb(255 255 255 / 47%);
  align-items: center;
  justify-content: center;
}
.ImagenPerfil {
  width: 32px;
  height: 32px;
  position: fixed;
  overflow: hidden;
  border-radius: 50%;
}

.BarraTareas {
  background-color: rgb(255 255 255 / 55%);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 50px;
  /* background-color: white; */
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.Tareas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.Tarea {
  /*   background-color: blue; */
  margin-right: 1px;
  height: 50px;
  width: 50px;
}
.Tarea .Boton {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  border-bottom: 3px solid #709aec;
}
.Tarea .BotonOpen {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  border-bottom: 3px solid #709aec;
  background-color: rgb(255 255 255 / 15%);
}
.Programas {
  height: 50px;
  min-width: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  position: absolute;
  right: 100px;
  padding-left: 5px;
  padding-right: 5px;
}
.Programa {
  width: 25px;
  height: 25px;
  background-color: rgb(255 255 255 / 40%);
  margin-right: 5px;
  border-radius: 8px;
}
.Herramientas {
  /* background-color: hotpink; */
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.Inicio {
  display: flex;
  background-color: rgb(255 255 255 / 60%);
  border-radius: 8px;
  flex-direction: column;
  -webkit-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 0px 50px -20px black;
  margin: 10px;
  position: fixed;
  right: 0;
  bottom: 45px;
  left: 35%;
  z-index: 1;
}
.VentanaOpciones {
  width: 70px;
  height: 40px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  left: 20px;
  display: flex;
  /* background-color: rgb(255 255 255 / 47%); */
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}
.VentanaCerrar {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
}
.BotonCerrar {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255 255 255 / 47%);
}
.VentanaInicio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.VentanaInicioTarea {
  margin-right: 5%;
  height: 50px;
  width: 50px;
}
.VentanaInicioBoton {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  /* background-color: red; */
  /* border-bottom: 3px solid #709aec; */
}
.InicioCuadro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-right: 5%;
  height: 100px;
  width: 75px;
}
.ContenidoCentradoSimple {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.code {
  background: black;
  color: lime;
  padding: 8px;
  border: 3px yellow;
}
